<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
	xmlns="http://www.springframework.org/schema/beans"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	    http://www.springframework.org/schema/context 
	    http://www.springframework.org/schema/context/spring-context-4.0.xsd
	    http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	" default-lazy-init="true">  
    
    <!-- Spring ehcache 
    <bean id="springCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcacheManager"/>
    </bean>-->
    
    <!-- 使用Spring注释的配置 -->
   <!--  <context:annotation-config/>
    实现注入的类的所在包 base-packet="*" 表示全部的包
    <context:component-scan base-package="ene.redl.spring.mvc.controller.*"/> -->
    <import resource="classpath*:applicationContext-service.xml"/>
    
    <bean id="cookieService" class="ene.redl.spring.service.impl.CookieServiceImpl"></bean>
    
</beans>  